.header {
    padding: 20px;
}
.header__title {
    margin: 0;
    font-size: 1.5rem;
    color: #2d3436;
    padding-bottom: 8px;
}
  
.header__subtitle {
    margin: 0;
    color: #000000;
    font-size: 0.9rem;
}
.header__line{
    width: 60vw;
    height: 15px;
    border: none;
    border-bottom: 5px dotted #fd8f8c;
}